@font-face {
  font-family: OcodoMonoDotZeroNerdFont;
  src: url("./fonts/OcodoMonoDotZeroNerdFont-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: OcodoMonoDotZeroNerdFont;
  src: url("./fonts/OcodoMonoDotZeroNerdFont-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
